* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #CD5D5D;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
span {
    color: yellow;
}
.atags {
    display: flex;
    justify-content: space-evenly;
}
img {
    width: 350px;
    height: 170px;
}
.text {
    background-color: black;
    color: white;
    width: 350px;
    height: 170px;
    padding-top: 20px;
    text-align: center;
}
.text, h2 {
    font-size: 15px;
}
.cont1{
    background-color: black;
    width: 350px;
    margin-left: 40px;
    margin-top: 40px;
}
.main1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.main2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}